#page-header {
  height: 350px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd670;
  text-align: center;
  padding-top: 75px;
  h1 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
    margin: 0;
    span {
      color: #ff686e;
    }
  }
  a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #ff686e;
    padding: 12px 30px;
    border-radius: 7px;
  }
}
